*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: url("media/bkgr-doc-min.png") repeat;
    background-size: 300px 430px;
}
main {
    padding: 60px 60px 20px 60px;
    width: 80vw;
    height: min-content;
    margin: -130px auto auto auto;
    background-color: rgba(193, 247, 217, 1);
}
nav,footer{
    width: 100%;
    height: 70px;
    padding: 20px;
    text-align:center;
    line-height:2em;
    background-color:#EBE365;
    align-items: center;
    display: flex;
    justify-content: right;
    font-family: "Open Sans SemiBold";
    font-size: 14px;
}

footer{
    display: flex;
    align-items:center;
    justify-content: flex-end;
}

footer img{
    width:50px;
    height:50px;
    margin-right: 10px;
}

nav ul {
    width:70%;
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: space-between;
}

nav ul li{
    min-width:max-content;
    text-align:center;
    line-height:5em;
    white-space: nowrap;
}

nav a, nav a:visited{
    text-decoration: none;
    color: black;
}

#languages,#menu{
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
.languages ul li img{
    display: none;
}

#menu{
    display: none;
}
#logo{
    width: 125px;
    height: 130px;
    position: relative;
    top:-65px;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

#logo img{
    width: 130px;
    height: 130px;
    animation: spin 4s linear infinite;
    pointer-events: none;
    user-select: none;
}
#logo a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Rubik ExtraBold";
    font-size: 20px;
    text-decoration: none;
}
nav ul .linkBtmLine {
    margin-top:-15px ;
    height: 4px;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s;
}
nav ul li:hover .linkBtmLine {
    transform: scaleX(1);
}
@media only screen and (max-width: 640px) {
    main{
        padding: 60px 20px 20px 20px;
    }
    nav {
        height: max-content;
        display: block;
        min-height: 80px;
        padding: 15px;
        text-align: center;
    }

    nav div {
        float: right;
    }

    nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        background-color: #EBE365;
        margin: 0;

    }
    #menu {
        display: flex;
        padding: 10px;
        border: 2px solid black;
        border-radius: 10px;
    }
    #menu:hover {
        transition: 0.23s;
        background-color: white;
    }
   #languages{
       display: none;
   }

    .languages ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .languages ul li{
        margin: 10px;
    }
    .languages ul li img{
        display: flex;
        width: 50px;
        height: 50px;
    }
    #ru{
        width: 58px;
        height: 58px;
    }
}
